.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chart {
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.btn {
    background-color: blue;
    border-radius: 15px;
    color: white;
    width: 35%;
    border: none;
    height: 35px;
    margin: 50px 0 0 0;
    cursor: pointer;
}
