.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.form {
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 3px 3px 0 gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 25px 0 25px 0;

}

.alert {
    color: red;
    margin-right: 6px;
    font-size: 14px;

}

.btn {
    background-color: blue;
    border-radius: 15px;
    color: white;
    width: 50%;
    border: none;
    height: 35px;
    margin: 50px 0 0 0;
    cursor: pointer;
}

.input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    width: 75%;
    margin-top: 25px;

}
